# Java stuff
*.class
*.jar

# Eclipse stuff
*.classpath
*.project
*.settings

# Compiled library stuff
*.zip
*.zip

distribution/*

distribution/colorLib-1/reference/overview-tree.html

distribution/colorLib-1/reference/overview-summary.html

distribution/colorLib-1/reference/overview-frame.html

distribution/colorLib-1/reference/index.html

distribution/colorLib-1/reference/index-all.html

distribution/colorLib-1/reference/help-doc.html

distribution/colorLib-1/reference/deprecated-list.html

distribution/colorLib-1/reference/constant-values.html

distribution/colorLib-1/reference/colorlib/webservices/package-tree.html

distribution/colorLib-1/reference/colorlib/webservices/package-summary.html

distribution/colorLib-1/reference/colorlib/webservices/package-frame.html

distribution/colorLib-1/reference/colorlib/webservices/Kuler.html

distribution/colorLib-1/reference/colorlib/webservices/ColourLovers.html

distribution/colorLib-1/reference/colorlib/package-tree.html

distribution/colorLib-1/reference/colorlib/package-summary.html

distribution/colorLib-1/reference/colorlib/package-frame.html

distribution/colorLib-1/reference/colorlib/Swatch.html

distribution/colorLib-1/reference/colorlib/Palette.html

distribution/colorLib-1/reference/colorlib/Gradient.html

distribution/colorLib-1/reference/allclasses-noframe.html

distribution/colorLib-1/reference/allclasses-frame.html

distribution/colorLib-1/index.html

distribution/colorLib-1/download/colorLib.zip

distribution/colorLib-1/download/colorLib-1.zip

distribution/colorLib-1/reference/colorlib/Complement.html

distribution/colorLib-1/reference/tools/MedianCut.html

distribution/colorLib-1/reference/tools/package-frame.html

distribution/colorLib-1/reference/tools/package-tree.html

distribution/colorLib-1/reference/tools/package-summary.html

distribution/colorLib-1/reference/package-list

*.html

distribution/colorLib-1/reference/package-list

*.class

lib/.DS_Store

.DS_Store
